@charset "utf-8";

$box-padding: 0;
$box-shadow: none;

@import "../node_modules/bulma/bulma.sass";

body {
    background-color: whitesmoke;

}

.nextpage {
    opacity: 0.2;

    &:hover {
        opacity: 0.5;
    }
}

.box {
    .banner {
        //margin: 0 0 -16rem -16rem;


        img {
            border-radius: $radius-large;
        }
    }

    .profilepicempty {
        margin: -64px 0 0 32px;

        img {
            height: 128px;
            padding: 1rem;
            background-color: whitesmoke;
            border-style: solid;
            border-width: 3px;
            border-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        
    }

    .content {
        padding: 1.25rem;
    }
}